[submodule "deps/pocketsphinx"]
path = deps/pocketsphinx
url = https://github.com/roedoejet/pocketsphinx
[submodule "deps/sphinxbase"]
path = deps/sphinxbase
url = https://github.com/roedoejet/sphinxbase
